.cream-section {
  background: var(--color-cream);
  width: 100%;
  margin: 0 auto;
  padding-top: 4rem;
}
.section-title {
  color: var(--color-purple);
}
h2 {
  text-align: center;
  padding-bottom: 6rem;
  font-size: 4rem;
}
.projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, minmax(0rem, 35rem));
  gap: 2.5rem;
  margin: 0 6rem;
  color: #fffef2;
}

.project-tile {
  background: var(--color-peach);
  border-radius: 1.5rem;
  border: 1px solid transparent;
  padding: 1rem;
  transition: var(--transition);
  padding-bottom: 0;
}

.project-tile:hover {
  background: var(--color-orange);
  border-color: var(--color-lightcream);
}

.project-image {
  border-radius: 1rem;
  overflow: hidden;
  height: 45%;
}
.project-tile h3 {
  margin: 1rem 0 1rem;
  font-size: 1.2rem;
}
.project-tile p {
  font-weight: 300;
}
.project-description {
  color: #fffef2;
}
.tech-stack p {
  font-weight: 400;
  padding-top: 0.5rem;
  color: #fbf2d8;
  font-size: 1.1rem;
}
.tech-stack > img {
}

.links {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding-top: 2rem;
}

.btn {
  display: inline-block;
  cursor: pointer;
  padding: 1rem 1.2rem;
  border: 1px solid #fffef2;
  border-radius: 1rem;
  color: #fbf2d8;
  text-decoration: none;
  transition: 400ms ease-in-out;
}

.btn-filled {
  background: #fbf2d8;
  color: #364657;
}

.btn:hover {
  transition: 400ms ease-in-out;
  background: rgba(255, 108, 62, 1);
  border-color: transparent;
}
