.languages {
  display: flex;
  gap: 0.8rem;
  margin-top: 1rem;
}

.languages a {
  display: flex;
  font-size: 2rem;
  padding: 0.5rem 0 0 0.5rem;
}

/* Technologies */

.react {
  color: rgb(97, 219, 251);
}
.javascript {
  color: rgb(240, 219, 79);
}
.html {
  color: #e34c26;
}
.css {
  color: rgb(38, 77, 228);
}
.spotify {
  color: rgb(30 215 96);
}
.yelp {
  color: rgb(244, 57, 57);
}
.redux {
  color: rgb(118, 74, 188);
}
