.container {
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.about-me {
  text-align: center;
}

.about-me h2 {
  font-size: 4rem;
}

.about-me p {
  margin: 2rem 10rem;
  font-size: 34px;
}

.highlight {
  font-weight: 600;
  color: #ffdcc8;
}
