header {
  height: 10rem;
  background-color: #fbf2d8;
  padding-top: 10rem;
}

.greeting {
  text-align: center;
  vertical-align: middle;
  height: 100%;
  position: relative;
  font-size: 1.5rem;
}
