header {
  height: 10vh;
  background-color: #fbf2d8;
  background-image: url("../../Assets/Firewatchblankspace.png");
  background-size: cover;
  padding-top: 16rem;
  padding-bottom: 37rem;
  
}

.greeting {
  text-align: center;
  position: absolute;
  font-size: 1.5rem;
  top: 7.5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  
}

.greeting h1 {
  font-size: 7rem;
}
.greeting h4 {
  font-size: 2rem;
  color: #364657;
}

.greeting h5 {
  color: #364657;
}
