header {
  height: 10rem;
  background-color: #fbf2d8;
  padding-top: 10rem;
  padding-bottom: 40rem;
}

.greeting {
  text-align: center;
  height: 100%;
  position: relative;
  font-size: 1.5rem;
}
