nav {
  background: rgba(108, 116, 132, 0.3);
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  z-index: 10;
  bottom: 2rem;
  border-radius: 3rem;
  padding: 1rem 1.8rem;
  display: block;
  display: flex;
  gap: 0.5rem;
  text-align: center;
  backdrop-filter: blur(15px);
}

nav a {
  text-decoration: none;
  font-size: 1.3rem;
  color: #ffdcc8;
  padding: 1rem;
  display: flex;
  border-radius: 100%;
}

nav a:hover {
  background: rgba(0, 0, 0, 0.3);
}

nav a.active {
  background: rgba(255, 108, 62, 1);
}
