@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,300;0,500;0,700;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

:root {
  --color-lightcream: #fffef2;
  --color-cream: #ffdcc8;
  --color-bg: #2d102a;
  --color-orange: #ff6c3e;
  --color-peach: #ffa883;
  --color-winered: #962d44;
  --color-purple: #472844;
  --color-grey: #364657;
  --color-lightblue: #c8e6ff;
  --color-softpink: #fdf2ff;
  --color-black: rgb(250, 250, 250);

  --transition: all 400ms ease;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0;
}

body {
  font-family: "Poppins", sans-serif;
  color: #ffdcc8;
  background: #2d102a;
}

section {
  margin-top: 8rem;
  margin-left: 4rem;
  margin-right: 4rem;
}

h1 {
  font-size: 5rem;
  font-weight: 700;
  color: #ff6c3e;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}
